h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  background-color: rgb(53, 231, 157);
  color: rgb(5, 89, 214);
  display: flex;
  justify-content: center;
}

p {
  font-size: 25px;
  border: 2px solid;
  text-align: center;
  color: tomato;
}
